@import "tailwindcss";
html {
  scroll-behavior: smooth;
}
body{
  font-family: 'Poppins', serif;
}
@theme{
  --font-monkey: 'Happy Monkey';
  --font-inter: 'Inter';
  --color-blueish: #2271EB;
  --shadow-3xl: 0 4px 7px rgba(138, 138, 138, 0.25);
}